RewriteEngine On

# Static file handling by YAWL
# ----------------------------

# If request is blank, then treat it as index.html
RewriteRule ^$  index.html [qsappend]

# YAWL will process all requests ending in .html.
RewriteRule ^(.+\.html)$  yawl.php?n=$1 [qsappend,last]


# Static file handling by Apache
# ------------------------------
# 
# # If file exists, display and ignore all rewrites.
# RewriteCond %{REQUEST_FILENAME} !-f
# 
#   # If directory exists, display and ignore all rewrites.
#   RewriteCond %{REQUEST_FILENAME} !-d
# 
#     # At this point, the requested file doesn't exist.
#     # If it ends in .html, then check the _site/ folder.
#     RewriteRule ^(.+\.html)$  _site/$1 [qsappend]
#     
#     RewriteRule ^$  _site/index.html [qsappend]
#     
#     # Check if the file in _site exists.
#     # If so, display it; otherwise, continue...
#     RewriteCond %{REQUEST_FILENAME} !-f
# 
#       RewriteRule (.+) yawl.php?n=$1  [qsappend,last]